
.header {
    display: flex;
    justify-content: space-between; 
    padding: 10px 20px;
  background-color: #333333;

}
.headleft {
    display: flex;
    justify-content: flex-start; 
    padding-left: 200px;
}

.right {
    display: flex;               
    list-style-type: none;        
}

.right li {
    margin-right: 40px;           
}

ul li {
  display: flex;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.photo{
    width: 100%;
    height: 100%;
}

.text {
    position: absolute;
    top: 50%;  
    left: 50%;
    transform: translate(-50%, -50%); 
    color: white; 
    font-size: 100px;  
    font-weight: bold;
    text-shadow: 2px 2px 5px black 
}
.littletext{
    display: flex;
    position: absolute;
    top: 80%;  
    left: 40%;
    transform: translate(-40%, -50%); 
    color: white; 
    font-size: 75px;  
    text-shadow: 2px 2px 5px black
}
.test{
    font-size: 40px;
    position: absolute;     
    top:90%;           
    left: 40%;          
    padding: 15px 30px;
    background-color: white ;
    color: black;
    width: 300px;
    height: 150px;
    border-radius: 25px;
}